{% extends "core/base.html" %}
{% load bootstrap3 %}
{% block backward %}
    <a href="{% url "post" post_id=post.id%}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}

{% block content %}
    <h4>Edit post {{ post.name }}</h4>
         <form action="" method="post" autocomplete="on">
             {% csrf_token %}
             {% bootstrap_form form show_label=False %}
             <p><input type="submit" value="Edit post"></p>
         </form>
{% endblock %}