{% extends "core/base.html" %}

    {% if post.author == user %}
            <a href="{% url "editing_post" post_id=post.id %}">Edit post</a>
    {%  endif %}

{% block content %}
    <h4>Post: {{ post.name }}</h4>
    <div>{{ post.created }}</div>
    <div>author: {{ post.author }}</div>
    <div><br></div>
    <div><h3>{{ post.content }}</h3></div>


    <div>
        {% if user.id == post.author.id %}
            <a href="{% url "editing_post" post_id=post.id %}"> Edit </a>
        {% endif %}
    </div>
{% endblock %}