{% extends "core/base.html" %}

{% block page_title %}Categories list
    <div><a href="{% url "index" %}">Main page</a></div>
{% endblock %}

{% block content %}
     <div>
         <form action="" method="get">
             {{ categories_form }}
             <button>Go!</button>
         </form>
     </div>
    {%   for category in categories  %}
        <div>
            <a href="{% url "category_detail" category_id=category.id %}">{{ category.name }}</a>
        </div>
    {% endfor %}
{% endblock %}
